<html>
    
    <style>
        body {
          background-image: url('https://www.solidbackgrounds.com/images/1920x1080/1920x1080-light-blue-solid-color-background.jpg');
        }
        </style>
 
    <body>
    <!-- <body bgcolor=#d4a3ae></body> -->

        <center>

        <h1 style="margin-top: 1em; color:white; font-family: sans-serif; font-size: 50;"> BONDORA LOAN RISK PREDICTOR</h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <!-- <b> Interest And Penalty Balance :  <input type="text", name='a', placeholder="enter 1"> <br><br>
            Principal Balance :  <input type="text", name='b', placeholder="enter 2"> <br><br>
            Principal Payments Made :  <input type="text", name='c', placeholder="enter 3"> <br><br>
            loan duration new : <input type="text", name='d', placeholder="enter 4"> <br><br><br>
            Interest And Penalty Payments Made :  <input type="text", name='e', placeholder="enter 1"> <br><br>
            Country_EE :  <input type="text", name='f', placeholder="enter 2"> <br><br>
            LanguageCode_Estonian :  <input type="text", name='g', placeholder="enter 3"> <br><br>
            LoanDuration : <input type="text", name='h', placeholder="enter 4"> <br><br>
            Interest : <input type="text", name='i', placeholder="enter 4"> <br><br>
            CreditScoreEsMicroL_zero : <input type="text", name='j', placeholder="enter 4"> <br><br>
            County : <input type="text", name='k', placeholder="enter 4"> <br><br>
            Original maturity date < 60 days : <input type="text", name='l', placeholder="enter 4"> <br><br>
            Original maturity date > 60 days : <input type="text", name='m', placeholder="enter 4"> <br><br>
            OccupationArea_not specified : <input type="text", name='n', placeholder="enter 4"> <br><br><br>
        </b>
            <input type="submit" , value='predict!' > -->
            <table style="width: 400px; line-height:50px;">
                <tr>
                  <td align="right">Input 1:</td>
                  <td align="left"><input type="text" name="Input 1" /></td>
                </tr>
                <tr>
                  <td align="right">Input 2:</td>
                  <td align="left"><input type="text" name="Input 2" /></td>
                </tr>
                <tr>
                  <td align="right">Input 3:</td>
                  <td align="left"><input type="text" name="Input 3" /></td>
                </tr>
                <tr>
                    <td align="right">Input 4:</td>
                    <td align="left"><input type="text" name="Input 4" /></td>
                </tr>
                <tr>
                    <td align="right">Input 5:</td>
                    <td align="left"><input type="text" name="Input 5" /></td>
                  </tr>
                <tr>
                    <td align="right">Input 6:</td>
                    <td align="left"><input type="text" name="Input 6" /></td>
                </tr>
                <tr>
                    <td align="right">Input 7:</td>
                    <td align="left"><input type="text" name="Input 7" /></td>
                </tr>
                <tr>
                    <td align="right">Input 8:</td>
                    <td align="left"><input type="text" name="Input 8" /></td>
                </tr>
                <tr>
                    <td align="right">Input 9:</td>
                    <td align="left"><input type="text" name="Input 9" /></td>
                </tr>
                <tr>
                    <td align="right">Input 10:</td>
                    <td align="left"><input type="text" name="Input 10" /></td>
                </tr>
              </table>>
              

              <input type="submit" , value='PREDICT REGRESSION' >
              
        </form>


        
    </center>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>